<div
  class="modal fade"
  id="editPostModal-<%= post.id %>"
  tabindex="-1"
  aria-labelledby="editPostModalLabel-<%= post.id %>"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPostModalLabel-<%= post.id %>">
          "Thread: <%= title %>"
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="editPostForm-<%= post.id %>"
          method="post"
          action="/edit_post"
        >
          <input type="hidden" name="postId" value="<%= post.id %>" />
          <input type="hidden" name="threadId" value="<%= threadId %>" />
          <div class="mb-3">
            <label for="editPostContent-<%= post.id %>" class="form-label"
              >Content</label
            >
            <textarea
              name="content"
              class="form-control"
              id="editPostContent-<%= post.id %>"
              rows="3"
              required
            >
<%= post.content %></textarea
            >
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
