<!-- Modal ADD NEW THREAD -->
<div
  class="modal fade"
  id="addThreadModal"
  tabindex="-1"
  aria-labelledby="addThreadModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addThreadModalLabel"><%= user.user_name %> - Add New Thread</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="addThreadForm" method="post" action="/add_thread">
          <div class="mb-3">
            <label for="threadTitle" class="form-label">Title</label>
            <input
              name="title"
              type="text"
              class="form-control"
              id="threadTitle"
              required
            />
          </div>
          <div class="mb-3">
            <label for="threadGenres" class="form-label">Genres</label>
            <div id="threadGenres" class="d-flex flex-wrap">
              <% genres.forEach(genre => { %>
              <div class="form-check me-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="genres"
                  value="<%= genre %>"
                  id="genre_<%= genre %>"
                />
                <label class="form-check-label" for="genre_<%= genre %>">
                  <%= genre %>
                </label>
              </div>
              <% }) %>
            </div>
          </div>
          <div class="mb-3">
            <label for="threadContent" class="form-label">Content</label>
            <textarea
              name="content"
              class="form-control"
              id="threadContent"
              rows="3"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Post new Thread</button>
        </form>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  class="btn btn-outline-light ms-3"
  data-bs-toggle="modal"
  data-bs-target="#addThreadModal"
>
  Add Thread
</button>
